/* .carousel-container {
  position: relative;
  width: 100%;
  height: 90vh;
  overflow: hidden;
} */

.carousel-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.carousel-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.carousel-slide.fade-in {
  justify-content: center;
  align-content: center;
  display: flex;
  flex-direction: column;
  opacity: 1;
}

.carousel-slide.fade-out {
  justify-content: center;
  align-content: center;
  display: flex;
  flex-direction: column;
  opacity: 0;
}

/* .carousel-card {
  position: relative;
  width: 100%;
  height: 100%;
} */

/* .carousel-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.carousel-card-body {
  position: absolute;
  bottom: 10px;
  /* left: 450px; */
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 24px;
  cursor: pointer;
  z-index: 10;
  transition: background-color 0.3s ease;
}

.carousel-control:hover {
  background: rgba(0, 0, 0, 0.8);
}

.carousel-control.prev {
  left: 10px;
}

.carousel-control.next {
  right: 10px;
}


/* ================================ */

.carousel-container {
    position: relative;
    width: 100%;
    height: 90vh;
    overflow: hidden;
    align-content: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.carousel-slide img {
    width: 100%;
    height: 50%;
    object-fit: scale-down;
}

.carousel-caption {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: white;
}

.carousel-card {
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 1px 11px 28px 0px rgba(0,0,0,0.63);
    width: 100%;
    height: 100%;
    max-width: 60vw;
    max-height: 60vh;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    position: relative;
    justify-content: center;
    align-items: center
}

.carousel-card img {
  width: 100%;
  height: 50vh;
  max-height: 92%;
  object-fit: scale-down;
}

.carousel-card-body {
  padding: 0 1rem;
  text-align: center;
}
